.inline-code {
    background-color: #1a202c;
    color: #d2d6dc;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Inter', Courier, monospace;
    display: inline;
    text-decoration: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.inline-code:hover {
    color: #EEBEBE;
    transform: scale(1.10);
}